<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%= 'hello world' .toUpperCase() %>
    </h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla maxime, alias sit ab ex est non consectetur amet
        maiores facilis eum similique at quis aliquam aperiam neque nesciunt dolores perferendis!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum atque quos rem illo commodi cum unde ea
        voluptatibus placeat sunt. Animi, aspernatur est. Suscipit sequi, cum quidem delectus nemo ab!</p>
</body>

</html>